search-engine/node_modules/*
flutter_app/ios/*
flutter_app/linux/*
flutter_app/android/build/
flutter_app/android/gradle/
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.pub/
flutter_app/pubspec.lock
flutter_app/packages
flutter_app/pubspec.yaml
search-engine/img/*
.vscode/